/**
 * Calculator list of buttons styles
 */

.calc-pad {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	padding: 20px;
	text-align: center;

	@include screen-x(350px) {
		grid-row-gap: 5px;
		grid-column-gap: 5px;
	}
}
