/**
 * Calculator screen styles
 */

.calc-screen {
	width: 100%;
	height: 200px;
	background: rgb(245, 245, 245);
	position: relative;
	margin-bottom: 20px;
	@include flex-col(flex-end, flex-end);

	&::before {
		content: "";
		position: absolute;
		top: 100%;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background-image: radial-gradient(
			120% 120px at 50% -70px,
			rgb(245, 245, 245) 75%,
			transparent 75%
		);
	}

	&__before,
	&__current {
		text-align: right;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 20px;
		padding-bottom: 0;
		color: $color-text;
	}

	&__before {
		font-size: $fs-creen-before;
	}

	&__current {
		font-size: $fs-creen-current;
	}
}
