/**
 * Footer styles
 */

.calc-footer {
	@include flex-row(center, center);
	padding-top: 20px;
	padding-bottom: 20px;

	@include screen-x(768px) {
		display: none;
	}

	@include screen-y(768px) {
		display: none;
	}

	&__left,
	&__right {
		color: $color-text;
		.link {
			color: $color-theme;
			text-decoration: none;
			font-weight: bold;
		}
	}

	&__left {
		margin-right: 5px;
	}

	&__right {
		margin-left: 5px;
	}
}
