/**
 * Global styles
 */

@import "@/styles/vars.scss";
@import "@/styles/mixins.scss";

* {
	box-sizing: border-box;
}

html,
body,
p {
	padding: 0;
	margin: 0;
}

body {
	@include flex-col(center, center);
	min-height: 100vh;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
