/**
 * Stores style variables
 */

$size-button: 80px;
$size-button2: 60px;
$size-button3: 50px;
$fs-button: 40px;
$fs-button2: 30px;
$fs-button3: 20px;
$fs-creen-current: 50px;
$fs-creen-before: 20px;
$color-theme: #dd720d;
$color-text: #646464;
